{% extends "master.html" %}

{% block css %}

{% endblock %}

{% block content %}
<h1>Installation PIN</h1>
You either did not enter the installation PIN or entered an incorrect installation PIN.
The installation PIN appears in the server's standard output (console, ssh shell, log file, etc.) as "Install PIN: 000000000"<br>
If you're using pythonanywhere, the Install PIN appears in the server log.<br>
If more than one PIN appears in the log file, use the last one.<br>
<form action="{{ url_for('input_pin') }}" method="post">
    <input name="pin" placeholder="Installation PIN"><br>
    <input type="submit">
</form>
{% endblock %}

{% block js %}

{% endblock %}