{% extends "master.html" %}

{% block css %}
<style>
    .req-good
    {
        color: green;
    }
    .req-bad
    {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<h1>환영합니다.</h1>
NewTheSeed는 Python으로 개발된 오픈 소스 위키 엔진으로, MIT 라이선스에 따라 누구나 사용 가능합니다.<br>
현재 NewTheSeed 버전: {{ version }}
<h1>시스템 요구 사항</h1>
<ul>
    <li class="req-{% if os_good %}good{% else %}bad{% endif %}">OS: Windows 7 이상 or Ubuntu 20.04 이상 or Debian 12 이상 or RHEL 9 이상 or CentOS 9 이상 or SLES 15 이상 - 현재 {{ os }}</li>
    <li class="req-{% if python_good %}good{% else %}bad{% endif %}">Python: 3.9 이상 - 현재 {{ python }}</li>
</ul>
<div class="req-{% if cnt >= 2 %}good{% else %}bad{% endif %}">{{ cnt }} / 2 요구사항 충족</div><br>
설치 중 <span title="여기에 추가 설명이 표시됩니다.">점선 밑줄</span>이 있는 곳에 마우스를 가져다 놓으면 추가 설명을 볼 수 있습니다.<br>
<a class="ok" href="{{ url_for('wiki_name_set') }}">다음</a>
{% endblock %}

{% block js %}

{% endblock %}