{% extends skin %}

{% block css %}

{% endblock %}

{% block content %}
<h2>{{ group }}</h2>
<form method="post">
    <label>withdraw_period_hours(미구현)<br><input type="number" min="-1" name="withdraw_period_hours" value="{{config['withdraw_period_hours']}}"></label><br>
    <label>
        signup_policy(미구현)<br>
        <select name="signup_policy">
            <option{% if config["signup_policy"] == "none" %} selected{% endif %}>none</option>
            <option{% if config["signup_policy"] == "require_verification" %} selected{% endif %}>require_verification</option>
            <option{% if config["signup_policy"] == "block" %} selected{% endif %}>block</option>
        </select>
    </label><br>
    <label>max_duration_ip<br><input type="number" min="0" name="max_duration_ip" value="{{config['max_duration_ip']}}"></label><br>
    <label>max_duration_account<br><input type="number" min="0" name="max_duration_account" value="{{config['max_duration_account']}}"></label><br>
    <label>max_ipv4_cidr<br><input type="number" min="0" max="32" name="max_ipv4_cidr" value="{{config['max_ipv4_cidr']}}"></label><br>
    <label>max_ipv6_cidr<br><input type="number" min="0" max="128" name="max_ipv6_cidr" value="{{config['max_ipv6_cidr']}}"></label><br>
    <label>access_flags<br><input name="access_flags" value="{{config['access_flags']}}"></label><br>
    <label>add_flags<br><input name="add_flags" value="{{config['add_flags']}}"></label><br>
    <label>remove_flags<br><input name="remove_flags" value="{{config['remove_flags']}}"></label><br>
    <label>style<br><input name="style" value="{{config['style']}}"></label><br>
    <label>message<br><input name="message" value="{{config['message']}}"></label><br>
    <label>self_remove_note<br><input name="self_remove_note" value="{{config['self_remove_note']}}"></label><br>
    <label><input type="checkbox" name="show_user_document"{% if config['show_user_document'] == '1' %} checked{% endif %}> show_user_document</label><br>
    <label><input type="checkbox" name="self_removable"{% if config['self_removable'] == '1' %} checked{% endif %}> self_removable</label><br>
    <input id="delete_aclgroup" type="button" value="삭제" class="danger">
    <input type="submit" value="수정" class="ok">
</form>
<form action="{{ url_for('aclgroup_delete_group') }}" method="post" name="delete_aclgroup_form" hidden>
    <input type="hidden" name="group" value="{{ group }}">
</form>
{% endblock %}

{% block js %}
<script>
    document.getElementById("delete_aclgroup").addEventListener("click", function () {
        delete_aclgroup_form.submit();
    })
</script>
{% endblock %}