{% extends skin %}

{% block css %}
    <style>
        h1, h2
        {
            color: #303030;
            margin: 0;
            display: inline;
        }
        form textarea
        {
            width: 100%;
            height: 60vh;
        }
        form input[name="edit_comment"]
        {
            width: 100%;
        }
        form *
        {
            margin-top: 5px;
        }
        a
        {
            text-decoration: none;
        }
        #ctn_header
        {
            display: flex;
            justify-content: space-between;
        }
        #ctn_header div:last-child
        {
            display: flex;
            height: 35px;
        }
        #ctn_header div:last-child a
        {
            border: 1px solid #808080;
            padding: 5px 13px;
            color: unset;
            text-decoration: none;
            line-height: 23px;
        }
    </style>
{% endblock %}

{% block content %}
<form method="post">
    <label>요약<br><input type="text" name="note" style="width: 100%"></label><br>
    <input type="submit" class="danger" value="삭제">
</form>
{% endblock %}

{% block js %}

{% endblock %}