{% extends skin %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='opennamu_main.css') }}">
<style>
    form textarea
    {
        width: 100%;
        height: 60vh;
    }
</style>
{% endblock %}

{% block content %}
{% if aclmsg is not none %}
<div class="error">
    <strong>[오류!]</strong> {{ aclmsg|safe }}
</div>
{% endif %}
<form action="/edit_form" method="post" name="edit">
    <input type="hidden" name="doc_name" value="{{ raw_title }}">
    <textarea name="value"{% if aclmsg is not none %} disabled{% endif %}>{{ doc_data }}</textarea><br>
    <div id="preview"></div>
    {% if aclmsg is none %}
    <input type="text" class="fullwidth" name="edit_comment" placeholder="편집 요약">
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <input type="submit" class="ok" value="저장"{% if req_captcha %} id="on-captcha" style="display: none;"{% endif %}>
    <input type="button" class="ok" id="preview_button" value="미리보기">
    {% endif %}
</form>
{% endblock %}

{% block js %}
<script>
    preview = document.getElementById("preview")
    document.getElementById("preview_button").addEventListener("click", function () {
        callapi("/api/preview", {"name": "{{ raw_title }}", "data": edit.value.value}, function (r) {
            preview.innerHTML = r.html
            eval(r.js)
        })
    })
</script>
{% endblock %}