{% extends skin %}

{% block css %}
    <style>
        h1
        {
            color: #303030;
            margin: 0;
        }
        #ctn_header
        {
            display: flex;
            justify-content: space-between;
        }
        #ctn_header div
        {
            display: flex;
            height: 35px;
        }
        #ctn_header div a
        {
            border: 1px solid #808080;
            padding: 5px 13px;
            color: unset;
            text-decoration: none;
            line-height: 23px;
        }
        textarea
        {
            width: 100%;
            height: 60vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="ctn_header">
        <h1>{{ doc_title|safe }}</h1>
        <div>
            <a href="/backlink/{{ raw_title }}">역링크</a>
            <a href="/discuss/{{ raw_title }}">토론</a>
            <a href="/edit/{{ raw_title }}">편집</a>
            <a href="/history/{{ raw_title }}">역사</a>
            <a href="/acl/{{ raw_title }}">ACL</a>
        </div>
    </div>
    <div id="ctn_data">
        <form action="#">
            <textarea disabled>{{ doc_data }}</textarea>
        </form>
    </div>
{% endblock %}

{% block js %}

{% endblock %}