{% extends skin %}

{% block css %}
    <style>
        h1, h2
        {
            color: #303030;
            margin: 0;
            display: inline;
        }
        a
        {
            text-decoration: none;
        }
        #ctn_header
        {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        #ctn_header div:last-child
        {
            display: flex;
            height: 35px;
        }
        input[type="text"]
        {
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<form method="post">
    <label>
        변경할 문서 제목
        <input type="text" class="fullwidth" name="to">
    </label>
    <label>
        요약
        <input type="text" class="fullwidth" name="note">
    </label>
    <label>
        <input type="checkbox" name="swap">
        문서를 서로 맞바꾸기
    </label><br>
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <input type="submit" class="ok" value="이동"{% if req_captcha %} id="on-captcha" hidden{% endif %}>
</form>
{% endblock %}

{% block js %}

{% endblock %}