{% extends "master.html" %}

{% block css %}
    <style>
        h1, h2
        {
            color: #303030;
            margin: 0;
            display: inline;
        }
        form textarea
        {
            width: 100%;
            height: 60vh;
        }
        form *
        {
            margin-top: 5px;
        }
        a
        {
            text-decoration: none;
        }
        #ctn_header
        {
            display: flex;
            justify-content: space-between;
        }
        #ctn_header div:last-child
        {
            display: flex;
            height: 35px;
        }
        #ctn_header div:last-child a
        {
            border: 1px solid #808080;
            padding: 5px 13px;
            color: unset;
            text-decoration: none;
            line-height: 23px;
        }
        #ctn_header div:last-child a[href^="/delete/"]
        {
            border: 1px solid #d9534f;
            background-color: #d9534f;
            color: white;
        }
        
    </style>
{% endblock %}

{% block content %}
    <div id="ctn_header">
        <div>
            <a href="/w/{{ doc_title }}"><h1>{{ doc_title }}</h1></a>&nbsp;
            <h2>(삭제)</h2>
        </div>
        <div>
            <a href="/backlink/{{ doc_title }}">역링크</a>
            <a href="/delete/{{ doc_title }}">삭제</a>
            <a href="/move/{{ doc_title }}">이동</a>
        </div>
    </div>
    <div id="ctn_data">
        <form action="/edit_form" method="post">
            <input type="hidden" name="doc_name" value="{{ doc_title }}">
            <textarea name="value">{{ doc_data }}</textarea><br>
            <input type="submit" value="저장">
        </form>
    </div>
{% endblock %}

{% block js %}

{% endblock %}