{% extends "master.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='opennamu_main.css') }}">
<style>
    h1, h2
    {
        color: #303030;
        margin: 0;
        display: inline;
    }
    form textarea
    {
        width: 100%;
        height: 60vh;
    }
    form input[name="edit_comment"]
    {
        width: 100%;
    }
    form *
    {
        margin-top: 5px;
    }
    a
    {
        text-decoration: none;
    }
    /*#ctn_header
    {
        display: flex;
        justify-content: space-between;
    }
    #ctn_header div:last-child
    {
        display: flex;
        height: 35px;
    }
    #ctn_header div:last-child a
    {
        border: 1px solid #808080;
        padding: 5px 13px;
        color: unset;
        text-decoration: none;
        line-height: 23px;
    }
    #ctn_header div:last-child a[href^="/delete/"]
    {
        border: 1px solid #d9534f;
        background-color: #d9534f;
        color: white;
    }*/
    
</style>
{% endblock %}

{% block content %}
{% if aclmsg is not none %}
<div class="error">
    <strong>[오류!]</strong> {{ aclmsg|safe }}
</div>
{% endif %}
<form action="/edit_form" method="post" name="edit">
    <input type="hidden" name="doc_name" value="{{ raw_doc_title }}">
    <textarea name="value"{% if aclmsg is not none %} disabled{% endif %}>{{ doc_data }}</textarea><br>
    <div id="preview"></div>
    {% if aclmsg is none %}
    <input type="text" name="edit_comment" placeholder="편집 요약">
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <input type="submit" class="ok" value="저장"{% if req_captcha %} id="on-captcha" style="display: none;"{% endif %}>
    <input type="button" class="ok" id="preview_button" value="미리보기">
    {% endif %}
</form>
{% endblock %}

{% block js %}
<script>
    preview = document.getElementById("preview")
    document.getElementById("preview_button").addEventListener("click", function () {
        callapi("/api/preview", {"name": "{{ raw_doc_title }}", "data": edit.value.value}, function (r) {
            preview.innerHTML = r.html
            eval(r.js)
        })
    })
</script>
{% endblock %}