{% extends skin %}

{% block css %}

{% endblock %}

{% block content %}
{% if error %}
<div class="error">
    <strong>[오류!]</strong> 사용자명이 올바르지 않습니다.
</div>
{% endif %}
<form>
    <label>Username <input type="text" name="username" value="{{ user2 }}"></label><br>
    <input type="submit" class="ok" value="확인"><br>
</form>
{% if validuser %}
<form method="post" class="refresh-on-submit">
    {% for p in grantable %}
    <label>{{p}} <input type="checkbox" name="{{p}}"{% if p in perm %} checked{% endif %}></label><br>
    {% endfor %}
    {% if ext_note %}
    <label>메모 : <input type="text" name="note"></label><br><br>
    {% endif %}
    <input type="submit" class="ok" value="확인"><br>
</form>
{% endif %}
{% endblock %}

{% block js %}

{% endblock %}