{% extends skin %}

{% block css %}
<style>
    h1, h2
    {
        color: #303030;
        margin: 0;
        display: inline;
    }
    a
    {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<ul>
    {% for h in history %}
    <li>
        {{ h[7]}} (<a href="/w/{{ raw_doc_name }}?rev={{ h[0] }}">보기</a> | <a href="/raw/{{ raw_doc_name }}?rev={{ h[0] }}">RAW</a> | <a href="/revert/{{ raw_doc_name }}?rev={{ h[0] }}">이 리버전으로 되돌리기</a>)
        <i>{{ history_msg(h[1], h[3], h[4]) }}</i>
        <span style="font-weight: 700;">r{{h[0]}}</span> ({% if h[8] == 0 %}<span class="history-zero">0</span>{% elif h[8] > 0 %}<span class="history-plus">+{{ h[8] }}</span>{% else %}<span class="history-minus">{{ h[8] }}</span>{% endif %})
        {{ h[5]|user }}
        (<span style="color: gray;">{{ h[6] }}</span>)
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block js %}

{% endblock %}