{% extends "master.html" %}

{% block css %}
    <style>
        #ctn_data
        {
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="ctn_data">
        NewTheSeed<br>
        Version {{ version }}<br>
        2025-08-29<br>
        <a href="https://github.com/1392-github/TheWikiEngine/blob/main/LICENSE">MIT License</a><br>
        <a href="https://github.com/1392-github/TheWikiEngine">Github</a><br>
    </div>
{% endblock %}

{% block js %}

{% endblock %}