{% extends "master.html" %}

{% block css %}
    <style>
        #ctn_data
        {
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="ctn_data">
        The Wiki Engine<br>
        Version {{ version }}<br>
        2023-11-13<br>
        <a href="https://github.com/1392-github/TheWikiEngine/blob/main/LICENSE">BSD-2 License</a><br>
        <a href="https://github.com/1392-github/TheWikiEngine">Github</a><br>
        <!--<a href="/patch_note/9">Patch Note (제작중)</a>-->
    </div>
{% endblock %}

{% block js %}

{% endblock %}