{% extends skin %}

{% block css %}

{% endblock %}

{% block content %}
<form method="post">
    <label>
        Username<br>
        <input type="text" name="id">
    </label>
    <br>
    <label>
        Password<br>
        <input type="password" name="pw">
    </label>
    <br>
    {% if get_config("email_verification_level") != "0" %}
    <a href="{{ url_for('recover_password') }}">비밀번호를 잊으셨나요?</a><br>
    {% endif %}
    <label><input type="checkbox" name="keep"></label> 자동 로그인<br>
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <a href="{{ url_for('signup') }}"><button type="button" class="normal">회원가입</button></a><input type="submit" class="ok" value="로그인"{% if req_captcha %} id="on-captcha" hidden{% endif %}>
</form>
{% endblock %}

{% block js %}

{% endblock %}