{% extends skin %}

{% block css %}

{% endblock %}

{% block content %}
<form action="/login_form" method="post">
    <label>
        아이디 <input type="text" name="id">
    </label>
    <br>
    <label>
        비밀번호 <input type="password" name="pw">
    </label>
    <br>
    <label>로그인 상태 유지 <input type="checkbox" name="keep"></label><br>
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <input type="submit" class="ok" value="로그인"{% if req_captcha %} id="on-captcha" style="display: none;"{% endif %}>
</form>
{% endblock %}

{% block js %}

{% endblock %}