{% extends skin %}

{% block css %}
<style>
    .disabled_extension {
        color: gray;
    }
</style>
{% endblock %}

{% block content %}
<span class="disabled_extension">회색</span>은 비활성화된 확장 프로그램을 의미합니다.
<table>
    <thead>
        <tr>
            <th>이름</th>
            <th>버전</th>
            <th>업데이트</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <colgroup>
            <col style="width: 10rem;">
            <col style="width: 10rem;">
            <col>
            <col>
        </colgroup>
        {% for i in extensions %}
        <tr{% if i[3] %} class="disabled_extension"{% endif %}>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>
                <form action="{{ url_for('update_extension') }}" method="post">
                    <input type="hidden" name="extension" value="{{ i[0] }}">
                    <input type="submit" value="업데이트" class="ok"{% if i[2] %} disabled{% endif %}>
                </form>
            </td>
            <td>
                <form action="{{ url_for('delete_extension') }}" method="post" class="confirm">
                    <input type="hidden" name="extension" value="{{ i[0] }}">
                    <input type="submit" value="삭제" class="danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<fieldset>
    <legend>새 확장 프로그램 설치</legend>
    <form action="{{ url_for('install_extension') }}" method="post">
        <label>
            git 저장소 주소
            <input name="git" class="fullwidth" placeholder="https://github.com/username/storage.git">
        </label><br><br>
        <input type="submit" value="설치" class="ok">
    </form>
</fieldset>
<fieldset>
    <legend>list.txt</legend>
    (변경 후 <a href="{{ url_for('restart') }}">재시작</a>이 필요합니다.)
    <form action="{{ url_for('extension_list') }}" method="post">
        <textarea style="width: 100%; height: 30rem;" name="list">{{ list }}</textarea>
        <input type="submit" value="저장" class="ok">
    </form>
</fieldset>
{% endblock %}

{% block js %}

{% endblock %}