{% extends skin %}

{% block css %}
<style>
    #content
    {
        margin: 20px 50px;
    }
    #content form input, #content form input:focus, #content form select, #content form select:focus
    {
        border-radius: 0;
        display: block;
        border-color: #000000;
        border-style: solid;
        margin: 3px 0;
    }
</style>
{% endblock %}

{% block content %}
<h1>관리자 설정</h1>
<form action="/owner_settings_form" method="post">
    <label>
        위키 호스트 <input type="text" name="host" value="{{ wiki_host }}">
    </label>
    <label>
        위키 포트 <input type="text" name="port" value="{{ wiki_port }}">
    </label>
    <label>
        소유자 계정명 <input type="text" name="owner" value="{{ wiki_owner }}">
    </label>
    <fieldset>
        <legend>API 정책</legend>
        <label>
            API 키 발급 방식 설정
            <select name="apitoken">
                <option value="allowed" {% if token == 'allowed' %}selected{% endif %}>항상 허용</option>
                <option value="request" {% if token == 'request' %}selected{% endif %}>API 승인 필요</option>
                <option value="disabled" {% if token == 'disabled' %}selected{% endif %}>API 비활성화</option>
            </select>
        </label>
        {% for a in keys %}
        <label>
            {{a[0]}}
            <select name="api_{{a[1]}}">
                {% if a[2] == 0 %}
                <option value="allowed_without_key" selected>API 키 불필요</option>
                {% else %}
                <option value="allowed_without_key">API 키 불필요</option>
                {% endif %}
                {% if a[2] == 1 %}
                <option value="allowed" selected>API 키 필요 (기본 승인)</option>
                {% else %}
                <option value="allowed">API 키 필요 (기본 승인)</option>
                {% endif %}
                {% if a[2] == 2 %}
                <option value="request" selected>API 키 필요 (기본 미승인)</option>
                {% else %}
                <option value="request">API 키 필요 (기본 미승인)</option>
                {% endif %}
                <!--<option value="disabled">API 비활성화</option>-->
            </select>
        </label>
        {% endfor %}
    </fieldset>
    <label>
        디버그 모드 {% if debug %}
        <input type="checkbox" name="debug" checked>
        {% else %}
        <input type="checkbox" name="debug">
        {% endif %}
    </label>
    <a href="/admin/extension">확장기능 설정</a><br>
    <a href="/admin/config/advanced">고급 모드</a>
    <input type="submit" class="ok" value="저장">
</form>
{% endblock %}

{% block js %}
{% endblock %}