{% extends "master.html" %}

{% block css %}

{% endblock %}

{% block content %}
<table class="fullwidth">
    <colgroup>
        <col>
        <!-- <col style="width: 10rem"> -->
        <col style="width: 9rem">
        <col style="width: 12rem">
    </colgroup>
    <thead>
        <tr>
            <th>문서</th>
            <!-- <th>기능</th> -->
            <th>수정자</th>
            <th>수정 시간</th>
        </tr>
    </thead>
    <tbody>
        {% for i in recent %}
        <tr>
            <td>
                <a href="{{ url_for('thread', slug = i[0]) }}">{{ i[2] }}</a>
                <a href="{{ url_for('doc_read', doc_title = i[1]) }}" class="recentdiscuss_docname">{{ i[1] }}</a>
            </td>
            <td>{{ i[3]|user }}</td>
            <td>{{ i[4] }} 전</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}

{% endblock %}