{% extends skin %}

{% block css %}

{% endblock %}

{% block content %}
<form method="post" style="max-width: 40rem;">
    <textarea style="height: 30rem;" class="fullwidth" readonly>{{ policy }}</textarea>
    <label><input type="checkbox" name="agree"> 동의합니다.</label><br>
    {% if email_must %}
    <label>Email<br><input type="email" name="email" class="fullwidth"></label><br>
    {% if wblist is not none %}
    {{ wblist|safe }}
    {% else %}
    <br>
    {% endif %}
    {% endif %}
    {% if req_captcha %}
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onCaptchaCompleted"></div>
    {% endif %}
    <input type="submit" value="가입" class="ok"{% if req_captcha %} id="on-captcha" style="display: none;"{% endif %}>
</form>
{% endblock %}

{% block js %}

{% endblock %}