{% extends skin %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='opennamu_main.css') }}">
<style>
    #thread-menu-check-label
    {
        display: block;
        width: 2rem;
        height: 2rem;
        border: 1px solid #dfe1e2;
        border-radius: 4px;
        text-align: center;
        line-height: 2rem;
    }
    #thread-menu-check
    {
        display: none;
    }
    #thread-menu
    {
        display: none;
        background-color: white;
        min-width: 12rem;
        border: 1px solid #dfe1e2;
        border-radius: 6px;
        position: absolute;
        right: 0;
        padding: 4px 0;
        z-index: 1;
    }
    #thread-menu-check:checked ~ #thread-menu
    {
        display: block;
    }
    .comment-menu
    {
        height: 1.2rem;
        width: 1.25rem;
        background-color: white;
        border: 1px solid #dfe1e2;
        border-radius: 4px;
        color: #373a3c;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px 0;
    }
    .comment-menu svg
    {
        fill: #555;
        width: .5rem;
    }
    .comment-menu-inner
    {
        background-color: white;
        max-width: 15rem;
        min-width: 12rem;
        border: 1px solid #dfe1e2;
        border-radius: 6px;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    #thread-menu > *, .comment-menu-inner > *
    {
        margin: 0.125rem 0.25rem;
        padding: 0.2rem 0.75rem;
        white-space: nowrap;
    }
    .comment-header-right
    {
        position: relative;
    }
    [data-raw] .comment-text
    {
        white-space: pre-wrap;
    }
</style>
<style id="hide-comment-style">.comment-wrap-blind{display: none;}</style>
{% endblock %}

{% block outcontent %}
{% if whtc %}
<div id="batch-blind" class="modal">
    <h2>일괄 숨기기</h2>
    한 줄에 숨길 댓글의 번호를 하나씩 적어주세요.<br>
    111~222 또는 111-222 형태로 범위를 지정 가능합니다. (양 끝의 값을 포함합니다.)<br>
    예시:
    <pre>123
456~789</pre>
    는 123번 댓글과 456번에서 789번까지의 댓글을 숨깁니다.
    범위 지정 시 순서는 무관합니다.
    <form action="{{ url_for('batch_blind' )}}" method="post" class="refresh-on-submit">
        <input type="hidden" name="slug" value="{{slug}}">
        <textarea class="fullwidth" name="comments" style="height: 20rem;"></textarea>
        <select name="type">
            <option value="0">숨기기 해제</option>
            <option value="1" selected>부분 숨김</option>
            {% if htc %}
            <option value="2">완전 숨김</option>
            {% endif %}
        </select><br><br>
        <input type="submit" class="ok" value="확인"><button type="button" class="normal" onclick="closeModal('batch-blind')">취소</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between;">
    <h2>{{ topic }}</h2>
    <div style="position: relative;">
        <label for="thread-menu-check" id="thread-menu-check-label"><i class="fa-solid fa-ellipsis-vertical"></i></label>
        <input type="checkbox" id="thread-menu-check">
        <div id="thread-menu">
            <label><input type="checkbox" id="dontshow-blind" checked> 숨겨진 댓글 보이지 않기</label>
            {% if whtc %}
            <div id="batch-blind" onclick="openModal('batch-blind');">[ADMIN] 일괄 숨기기</div>
            {% endif %}
        </div>
    </div>
</div>
{#<div id="comment-list">{{ comment|safe }}</div>#}
<div id="templete" class="comment-wrap" hidden>
    <div class="comment">
        <div class="comment-header">
            <div class="comment-header-left">
                <span class="comment-no">#{{i}}</span>
                <span class="comment-author"></span>
            </div>
            <div class="comment-header-right">
                <span class="comment-time"></span>
                <span class="comment-menu toggle-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"></path>
                    </svg>
                </span>
                <div id="comment-menu-{{i}}" class="comment-menu-inner" hidden>
                    <div data-comment-menu="1">원문 보기</div>
                    {% if whtc %}<div data-comment-menu="2">[ADMIN] 숨기기 해제</div>
                    <div data-comment-menu="3">[ADMIN] 부분 숨기기</div>{% endif %}
                    {% if htc %}<div data-comment-menu="4">[ADMIN] 숨기기</div>{% endif %}
                </div>
            </div>
        </div>
        <div class="comment-text"></div>
    </div>
</div>
<div id="comment-list">
    {% for i in comment %}
    <div class="comment-wrap{% if i[1] %} comment-wrap-blind{% endif %}" data-no="{{i[0]}}">
        <div class="comment">
            <div class="comment-header">
                <div class="comment-header-left">
                    <span class="comment-no" id="{{i[0]}}">#{{i[0]}}</span>
                    <span class="comment-author"></span>
                </div>
                <div class="comment-header-right">
                    <span class="comment-time"></span>
                    <span class="comment-menu toggle-button" data-target="comment-menu-{{i[0]}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"></path>
                        </svg>
                    </span>
                    <div id="comment-menu-{{i[0]}}" class="comment-menu-inner" hidden>
                        <div data-comment-menu="1">원문 보기</div>
                        {% if whtc %}<div data-comment-menu="2">[ADMIN] 숨기기 해제</div>
                        <div data-comment-menu="3">[ADMIN] 부분 숨기기</div>{% endif %}
                        {% if htc %}<div data-comment-menu="4">[ADMIN] 숨기기</div>{% endif %}
                    </div>
                </div>
            </div>
            <div class="comment-text"></div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<h2>댓글 달기</h2>
{% if has_perm("update_thread_status") %}
<form method="post" class="refresh-on-submit">
    <input type="hidden" name="opcode" value="status">
    [ADMIN] 스레드 상태 변경
    <select name="status">
        {% if status != "normal" %}<option>normal</option>{% endif %}
        {% if status != "close" %}<option>close</option>{% endif %}
        {% if status != "pause" %}<option>pause</option>{% endif %}
    </select>
    <input type="submit" value="변경">
</form>
{% endif %}
{% if has_perm("update_thread_document") %}
<form method="post" class="refresh-on-submit">
    <input type="hidden" name="opcode" value="document">
    [ADMIN] 스레드 이동
    <input name="value" value="{{ raw_title }}">
    <input type="submit" value="변경">
</form>
{% endif %}
{% if has_perm("update_thread_topic") %}
<form method="post" class="refresh-on-submit">
    <input type="hidden" name="opcode" value="topic">
    [ADMIN] 스레드 주제 변경
    <input name="value" value="{{ topic }}">
    <input type="submit" value="변경">
</form>
{% endif %}
<form name="comment" method="post">
    <textarea name="value" rows="7" class="fullwidth"{% if status != "normal" %} disabled{% endif %}>{% if status == "close" %}닫힌 토론입니다.{% elif status == "pause" %}pause 상태입니다.{% endif %}</textarea>
    <div id="preview"></div>
    <input type="submit" class="ok" value="전송"{% if status != "normal" %} disabled{% endif %}>
    <input type="button" id="preview_button" class="ok" value="미리보기">
</form>
{% endblock %}

{% block js %}
<script>
    preview = document.getElementById("preview")
    document.getElementById("preview_button").addEventListener("click", function () {
        callapi("/api/preview/thread", {"data": comment.value.value}, function (r) {
            preview.innerHTML = r.html
            eval(r.js)
        })
    });
    comment.addEventListener("submit", function (e) {
        e.preventDefault();
        fetch(this.action, {method: this.method, body: new FormData(this)})
        .then((r) => {
            if (r.ok) {
                check_count();
            }
            else {
                if (r.status >= 400 && r.status <= 499 && r.headers.get("Content-Type").startsWith("text/plain")) {
                    r.text().then(function (err) {
                        alert(err)
                    })
                }
                else {
                    alert(`Request failed with status code ${r.status}`)
                }
            }
        })
    })
    var comment_list = document.getElementById("comment-list")
    var templete = document.getElementById("templete")
    var hide_comment_style = document.getElementById("hide-comment-style");
    var count = {{count}};
    var show_timeout = {};
    function load(t, ty = 0) {
        var id = Number(t.dataset.no);
        fetch(`/api/thread_comment/{{slug}}/${id}/${ty}`).then(r => {
            if (r.ok) return r.json()
            else if (r.status == 400) return r.text().then(t => {throw new Error(t)}) 
            else throw new Error(`Request failed with status code ${r.status}`)
        })
        .then(r => {
            t.querySelector(".comment").className = r.class;
            t.querySelector(".comment-author").innerHTML = r.author;
            t.querySelector(".comment-time").textContent = r.time;
            if (ty % 2 == 0) t.querySelector(".comment-text").innerHTML = r.html;
            else t.querySelector(".comment-text").textContent = r.html;
            t.querySelectorAll(`[data-comment-menu]`).forEach(function (e) {
                var v = e.dataset.commentMenu;
                if (v == 1 && r.special) e.remove();
                if (v >= 2 && v <= 4) {
                    e.hidden = {% if not htc %}r.blind == 2 || {% endif %}v == r.blind + 2;
                }
            })
            if (r.blind) t.classList.add("comment-wrap-blind");
            eval(r.js);
        })
        .catch(e => {if (e.message != "Failed to fetch") alert(e.message)})
    }
    function observerCallback(entries, observer) {
        entries.forEach(e => {
            var t = e.target;
            if (e.isIntersecting) {
                show_timeout[t.dataset.no] = setTimeout(function () {
                    load(t);
                    observer.unobserve(e.target);
                }, 500);
            }
            else {
                clearTimeout(show_timeout[t.dataset.no]);
            }
        })
    }
    var observer = new IntersectionObserver(observerCallback, {
        root: null,
        rootMargin: "300px 0px 300px 0px",
        threshold: 0
    })
    comment_list.querySelectorAll(":scope > *").forEach(function (e) {
        observer.observe(e)
    })
    document.getElementById("dontshow-blind").addEventListener("change", function () {
        hide_comment_style.textContent = this.checked ? ".comment-wrap-blind{display: none;}" : "";
    })
    function check_count() {
        fetch("/api/thread_comment_count/{{slug}}")
        .then(r => {
            return r.text();
        })
        .then(r => {
            r = Number(r);
            if (r > count) {
                for (var i = count + 1; i <= r; i++) {
                    var e = templete.cloneNode(true);
                    e.dataset.no = i;
                    var no = e.querySelector(".comment-no");
                    var mid = `comment-menu-${i}`;
                    no.id = i;
                    no.textContent = `#${i}`
                    e.removeAttribute("id");
                    e.hidden = false;
                    e.querySelector(".comment-menu").dataset.target = mid;
                    e.querySelector(".comment-menu-inner").id = mid;
                    comment_list.appendChild(e);
                    observer.observe(e);
                    count = r;
                }
            }
        })
    }
    setInterval(function () {
        if (document.hidden) return;
        check_count();
    }, 5000)
    comment_list.addEventListener("click", function (e) {
        var t = e.target;
        if (t.dataset.commentMenu) {
            var wrap = t.parentElement.parentElement.parentElement.parentElement.parentElement;
            if (t.dataset.commentMenu == 1) {
                if ("raw" in wrap.dataset) {
                    load(wrap, "showBlind" in wrap.dataset ? 2 : 0);
                    delete wrap.dataset.raw
                    t.textContent = "원문 보기";
                }
                else {
                    load(wrap, "showBlind" in wrap.dataset ? 3 : 1);
                    wrap.dataset.raw = "";
                    t.textContent = "위키 보기";
                }
            }
            if (t.dataset.commentMenu >= 2 && t.dataset.commentMenu <= 4) { 
                fetch(`/api/hide_thread_comment/{{slug}}/${wrap.dataset.no}/${t.dataset.commentMenu - 2}`, {"method": "post"}).then(() => load(wrap));
            }
        }
        {% if htc %}
        if (t.classList.contains("show-blind")) {
            var wrap = t.parentElement.parentElement.parentElement;
            load(wrap, "raw" in wrap.dataset ? 3 : 2);
            wrap.dataset.showBlind = "";
        }
        {% endif %}
    })
    /*setInterval(function () {
        if (!document.hidden && window.getSelection().toString() == "") fetch("/api/render_thread/{{slug}}", {
            "headers": {"Content-Type": "application/json"}
            })
        .then(r => {
            if (r.ok) return r.json()
            else if (r.status == 400) return r.text().then(t => {throw new Error(t)}) 
            else throw new Error(`Request failed with status code ${r.status}`)
        })
        .then(r => {
            comment_list.innerHTML = r.html;
            eval(r.js);
            last();
        })
        .catch(e => {if (e.message != "Failed to fetch") alert(e.message)})
    }, 5000)*/
</script>
{% endblock %}