{% extends skin %}

{% block css %}
<style>
    #content a
    {
        display: block;
    }
    table
    {
        border: 1px solid #444444;
        border-collapse: collapse;
    }
    th, td
    {
        border: 1px solid #444444;
    }
    ul
    {
        padding-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div style="margin-left: 20px">
    <table>
        <tr>
            <th>사용자명</th>
            <td>{{ user_name }}</td>
        </tr>
        <tr>
            <th>IP/계정</th>
            {% if login %}
            <td>계정</td>
            {% else %}
            <td>IP</td>
            {% endif %}
        </tr>
    </table>
    {% if login %}
    <ul>
    <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
    <li><a href="{{ url_for('mypage') }}">내 정보</a></li>
    {% else %}
    <ul>
    <li><a href="{{ url_for('login') }}">로그인</a></li>
    <li><a href="{{ url_for('signup') }}">회원가입</a></li>
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block js %}
{% endblock %}